.item-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e1e1e, #292929);
  color: white;
  padding: 20px;
}

.item-details {
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.item-details-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}

.item-details-info {
  margin-top: 20px;
}

.item-details-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffcc00;
  margin-bottom: 10px;
}

.item-details-description {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 15px;
}

.item-details-location,
.item-details-date,
.item-details-phone {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 10px;
}

.item-details-phone {
  font-weight: bold;
  color: #ffcc00;
}
