.list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.list-item-box {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #1e1e1e;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.list-item-box:hover {
  transform: scale(1.02);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ffcc00;
}

/* Input Group */
.input-group {
  text-align: left;
  margin-bottom: 18px;
  width: 100%;
}

.input-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #ddd;
}

/* Input Fields and Select */
.input-group input,
.input-group textarea,
.input-group select {
  width: 94%;
  padding: 12px;
  border: 2px solid #444;
  border-radius: 8px;
  background: #333;
  color: white;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  appearance: none; /* Removes default browser styles */
}

.input-group select {
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
  border-color: #ffcc00;
  box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.5);
}

textarea {
  resize: none;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ffcc00;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: white;
  color: #242424;
  box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.5);
}

.image-preview {
  width: 80%; /* Reduce width to 80% of the container */
  max-height: 150px; /* Reduce max height from 200px to 150px */
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.5);
}
